*{
            margin:0;
            padding: 0;
            font-family: Lucida Calligraphy;
        }
        .body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #131419;
        }
        form{
            position: relative;
            float: left;
            width: 350px;
            padding: 40px 40px 60px;
            background: #131419;
            text-align: center;
            box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                        5px 5px 15px rgba(0,0,0,0.5);
        }
        .green{
            color: #43BD05;
        }
        form .tit{
            color: #43BD05;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        form .titb{
            color: #ff0047;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        form .input{
            text-align: left;
            margin-top: 40px;
        }
        .box{
            margin-top: 20px;
        }
        label{
            display: block;
            color: #868686;
            margin-bottom: 5px;
            font-size: 18px;
        }
        .box input{
            width: 87%;
            height: 50px;
            background: #131419;
            border:none;
            outline: none;
            border-radius: 40px;
            padding: 1px 15px;
            font-size: 18px;
            color: #03a9f4;
            box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                        inset 2px 2px 6px rgba(0,0,0,0.8);
        }
        select{
            width: 94%;
            height: 50px;
            background: #131419;
            border:none;
            outline: none;
            padding: 1px 15px;
            font-size: 18px;
            color: #03a9f4;
            box-shadow: -1px -1px 4px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
            cursor: pointer;

        }
        input[type="Password"]::placeholder{
            font-size: 22px;
            letter-spacing: 4px;
        }
        
        .box .submit{
            width: 96%;
            margin-top: 20px;
            box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
            cursor: pointer;
        }
        .box .submit1{
            width: 96%;
            margin-top: 20px;
            box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
            cursor: not-allowed;

        }
        button[type="submit"]:active{
            width: 96%;
            margin-top: 20px;
            box-shadow:inset  -2px -2px 6px rgba(255,255,255,0.1),
                     inset 2px 2px 6px rgba(0,0,0,0.8);
        }
        p{
            margin-top: 30px;
            font-size: 14px;
            color: #868686;
        }
        p a{
            color: #43BD05;
        }
        .box a{
            color: #03a9f4;
            position: absolute;
            right: 25px;
            top: 260px;
        }
        .sudah{
            color: #03a9f4;
        }
        .belum{
            color: #ff0047;
        }
        .logout{
            color: #ff0047;
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #ff0047;
            float: right;
        }
        .harus{
            color: #868686;
        }

        .harus div{
            margin: 25px 50px;
        }
        .harus i{
            width: 25px;
        }
        .harus .sudah i{
            color: #43BD05;
            
        }
        .judul{
            position: absolute;
            top: 100px;
            left: 42%;
            color: #131419;
        }
        .judul h1{
            font-size: 120px;
            text-shadow: -5px -5px 10px rgba(255,255,255,0.05),
            -5px -5px 10px rgba(255,255,255,0.05),
                        5px 5px 15px rgba(0,0,0,0.5);
        }
        option{
            border:1px solid #03a9f4;
        }


.circle{
    position: fixed;
    top: 85%;
    left: -280px;
    transition: .5s;;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.circle .share{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #131419;
    border-radius: 50%;
    z-index: 1;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
   
}
.circle ul{
    position: absolute;
    top: -50px;
    left: -50px;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #1b3646, 0 0 0 4px #fff;
    transition: 1s;
    transform: scale(.3) rotate(-180deg);
    z-index: -1;
}
.circle:hover ul{
    transform: scale(1) rotate(0deg);
}
.circle ul li{
    position: absolute;
    list-style: none;
}
.circle ul li:nth-child(1){
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}
.circle ul li:nth-child(2){
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.circle ul li:nth-child(3){
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.circle ul li:nth-child(4){
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.circle ul li a .fa{
    transition: .5s;
    color: #112833;
    
}
.circle ul li:hover a .fa{
    color: #03a9f4;
    transform: scale(1.5);
}
.circle ul:before{
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background: #112833;
    transform: rotate(45deg);
}
.circle ul:after{
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background: #112833;
    transform: rotate(-45deg);
}

 .sidebar{
  position: fixed;
  top: 7px;
  width: 280px;
  height: 100%;
  left: -280px;
  transition: .5s;
  box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
}
.sidebar .nama_header{
  line-height: 80px;
  color: white;
  box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.8);
}
.sidebar .nama_header h1{
  font-size: 30px;
  margin-left: 20px;
  color: #03a9f4;
}
.sidebar ul li a{
  font-size: 20px;
  color: white;
  line-height: 50px;
  transition: .5s;
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none;



}
.sidebar ul li a i{
  margin-right: 10px;
}
.sidebar ul li a:hover{
  margin-left: 50px;
  color: #BDC3C7;
}

.sidebar ul li {
  margin-left: 5px;
  list-style: none;
  border-bottom: 1px solid white;
  width: 90%;
}
#check{
  display: none;
}

label #open{
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 40px;
  cursor: pointer;
  transition: .5s;
  color: white;
}

label #close{
  position: absolute;
  top: 25px;
  left: -200px;
  font-size: 40px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    color: white;
}

#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ .circle{
    
    left: 140px;
}
#check:checked ~ label #close{
  left: 200px;
}
#check:checked ~ label #open{
  left: -200px;
}
.header{
  transition: .5s;
}
#check:checked ~ .header{
  margin-left: 280px;
}
.background{
  background: #131419;
}